
VHDL/Encoder/c5_pin_model_dump.txt
VHDL/Encoder/db/*
*.qws
*.mti
*.mpf
*.qpf
VHDL/Encoder/incremental_db/*
VHDL/Encoder/output_files/*
VHDL/Encoder/transcript
*.wlf
VHDL/Encoder/work/*
*.bak
Python/*
VHDL/Encoder/.qsys_edit/*