
*.asv
Python/*
VHDL/BCH.cr.mti
VHDL/BCH.mpf
VHDL/transcript
VHDL/work/*
VHDL/vsim.wlf
*.mti
*.mpf
*.qsf
*.qws
*.cdb
*.hdb
*.xml
*.bpm
*.kpt
*.idb
*.logdb
*.rdb
*.db_info
*.qmsg
*.hier_info
*.hif
*.html
VHDL/db/bch_encoder.lpc.txt
*.ammdb
*.sci
VHDL/db/bch_encoder.smart_action.txt
*.ddb
*.tmw_info
*.hsd
*.json
*.qpf
*.dpi
*.hb_info
*.sig
VHDL/incremental_db/README
*.bak
*.rpt
*.smsg
*.summary
